body {
    padding-top: 10%;
    background-color: #6376d8;
}

hr {
    border-top: 1px solid #ffffff !important;
    padding-bottom: 10px;
}

p, p span, .secondaryTitle, hr, .blinking-cursor, label, .instructions {
    font-family: 'Julius Sans One', sans-serif !important;
    color:#ffffff !important;
}

.outerContainer {
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}
.group 			  {
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.instructions {
    font-size: 12px;
    padding-bottom:45px;
    padding-top:5px;
    visibility: hidden;
}

.description {
    font-size: 16px;
    text-shadow: none;
}

.mainTitle {
    font-size: 20px;
}

.results {
    border: solid 1px #ffffff;
    width: 80%;
    min-height: 195px;
    padding: 35px 0;
    border-radius: 20px;
    margin: 0 auto 14px;
}

/*loader*/
.loader {
    border: 6px solid #39FF14;
    border-top: 6px solid #2b9c2f;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-top: 29px;
    visibility: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


