body {
    padding-top: 10%;
    background-color: #6376d8;
}


hr {
    border-top: 1px solid #ffffff !important;
    padding-bottom: 10px;
}

p, p span, .secondaryTitle, hr, .instructions {
    font-family: 'Julius Sans One', sans-serif !important;
    color:#ffffff !important;
}

.instructions {
  font-size: 12px;
  margin: 8px 0 30px 0;
}

.description {
    font-size: 16px;
    text-shadow: none;
}

.mainTitle {
    font-size: 20px;
}


/* input file */

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputFile + label, #buttonSubmit {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;  
  color: #ffffff;
  border: solid 3px #ffffff;
  border-radius: 8px;
  padding: 15px;
  background-color: #5264AE;
  display: inline-block;
  cursor: pointer;
}

.inputFile:focus + label,
.inputFile + label:hover, #buttonSubmit:hover {
    background-color: #6376d8;
}